<!DOCTYPE html>
<html>
<head>
  <title>NacyHairSolon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">

		 <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Prices", prices_path %></li>
                <li><%= link_to "Appointment", welcome_apointment_path %></li>
                <li><%= link_to "About Us", welcome_aboutus_path %></li>
				<li><%= link_to "Contact Us", welcome_contactus_path %></li>
                <% if current_user %>
					<li class="pull-right"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>				
					<li class="pull-right"><%= link_to "Edit profile", edit_user_registration_path %></li>

					<li class="pull-right"><%= link_to "Hello, " + current_user.email, user_registration_path %></li>
				<% else %>
					<li class="pull-right"><%= link_to "Sign Up", new_user_registration_path %></li>
					<li class="pull-right"><%= link_to "Login", new_user_session_path %></li>
				<% end %>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->

		<% if flash[:notice] %>
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<%= flash[:notice]%>
			</div>
		<% elsif flash[:error] %>
			<div class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<%= flash[:error]%>
			</div>
		<% elsif flash[:alert] %>
			<div class="alert">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<%= flash[:alert]%>
			</div>
		<%end%>
		<%= yield %>

	</div>

</body>
</html>
